//This program shows average of numbers entered by user. 
//In this program, an example was given by using 'while loop'.

#include <iostream>
using namespace std;

int main() {
    int num = 1;
    int number;
    int total = 0;
    int ave = 0;


    cout << " Enter 2 number and get average of them: " << endl;

    while (num <= 2) {
        cin >> number;
        total += number;
        num++;
        ave = total / 2;

    }
    cout << "                     " << endl;
    cout << "Total of numbers is: " << total << ". Average of numbers is: " << ave << endl;
    cout << "                     " << endl;



    return 0;

}
